.section1_contacts{
    height: 60vw;
}

.section2_contacts{
    height: 6vw;
    width: 100%;
    position: absolute;
    background-color: white;
    margin-top: -5vw;
    
}

.section3_contacts{
    height: 15vw;
    width: 100%;
    position: relative;
    background-color: white;
    margin-top: -2vw;
    
}

.zg20{
    margin-top: -8vw;
    position: absolute;
    margin-left: 3.5vw;
    width: 60vw;
    color: black;
}



.cont{
    position: absolute;
    margin-top: 2.5vw;
    margin-left: 3.1vw;
    margin-right: 15vw;
    width: 35vw;
}

.cont_photo{
    position: absolute;
    margin-left: 3.5vw;
    margin-top: 5vw;
    width: 55.3vw;
    height: 51.5vw;  
}



.form-container{
    margin-top: 20vw;
    margin-left: 3.1vw;
    position: absolute;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-bottom: 9vw;
}

.form-input {
    width: 26.8vw;
    height: 3vw;
    padding: 1vw;
    border: 0.05vw solid #000000;
    font-size: 16px;
    
    font-family: "Onest"
}

.form-textarea {
    width: 26.8vw;
    height: 6vw;
    padding: 1vw;
    border: 0.05vw solid #000000;
    font-size: 16px;
    font-family: "Onest"
}

.submit{
    height: 3vw;
    width: 26.8vw;
    background-color: #ababab;
    border: none;

}


.st6{
    position: absolute;
    margin-top: 5.7vw;
    z-index: 1000;
    margin-left: 3.5vw;
    width: 38vw;
}

.st7{
    position: absolute;
    margin-top: 0.25vw;
    z-index: 1000;
    margin-left: 3.5vw;
    width: 60vw;
    color: white;
}

.st8{
    position: absolute;
    margin-top: -5vw;
    z-index: 1000;
    margin-left: 3.5vw;
    width: 60vw;
    color: rgb(0, 0, 0);
}

.map {
    width: 55.2vw;  
    height: 49vw;   
    margin-left: 3.5vw;
    margin-top: 9vw;
    position: absolute;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0; 
}

.bck{
    position: absolute;
    background-color: #E0F2CA;
    width: 36.3vw;
    height: 46vw;
    margin-left: 60.2vw;
    margin-top: 9vw;
    z-index: 3;
}

.bron2{
    width: 30vw;
    position: absolute;
    z-index: 5;
    height: 2.4vw;
    margin-left: 0.2vw;
    margin-top: 21.5vw;

}

.plashka{
    border-radius: 30vw;
    width: 16vw;
    height: 2.4vw;
    margin-left: 1.5vw;
    margin-top: -48vw;
    background-color: black;
    position: absolute;
}


/* Для всех полей ввода и текстовых областей */
.form-input::placeholder,
.form-textarea::placeholder {
    font-family: "Onest", sans-serif; /* или любой другой ваш базовый шрифт */
    color: #757575; /* цвет текста плейсхолдера */
    font-size: 1.04vw;
    
}

/* Если хотите, чтобы сам текст в полях тоже был вашим шрифтом */
.form-input,
.form-textarea {
    font-family: "Onest", sans-serif; /* ваш базовый шрифт */
    color: #000000; /* цвет введенного текста */
}
.tg{
    width:2vw;
    height: 2vw;
    margin-top: -3.5vw;
    position: absolute;
    margin-left: 1.5vw;
}


.plashka2{
    border: 0.05vw solid black;
    width: 19vw;
    height: 4vw;
    margin-left: 1.5vw;
    margin-top: -13.5vw;
    background-color: white;
    position: absolute;
}

.plashka3{
    border: 0.05vw solid black;
    width: 19vw;
    height: 4vw;
    margin-left: 1.5vw;
    margin-top: -9vw;
    background-color: white;
    position: absolute;
}




.merch_name4 {
    color: black;
    font-size: 1.1vw;
    font-family: "Unb-SB";
    line-height: 4.8vw;
    letter-spacing: 3%;
    margin-left: 4.5vw;
    margin-top: -0.35vw;
    justify-content: center;
}

.squr{
    width:1vw;
    height:1vw;
    background-color: #9CE246;
    position: absolute;
    margin-left: 1.3vw;
    margin-top: 0.7vw;
    animation: pulse 2s ease-in-out infinite;
}

#span_btn3 {
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    padding-left: 1.2vw;
    padding-right: 16vw;
    border: 0.065vw solid #000;
    border-radius: 30vw;
    font-size: 0.85vw;
    font-family: "Onest";
    background-color: #000000;
    color: white;
    cursor: pointer;

    
}

.bron2:hover .arrow4 {
    filter: invert(1);
}

.bron2:hover #span_btn3{ 
    background-color: #FFF59F;
    color: black;
}

.phone{
    width:2vw;
    height: 2vw;
    margin-top: -3.5vw;
    position: absolute;
    margin-left: 1.5vw;
}