.section1_contacts{
    height: 100vw;
}



.cont{
    position: absolute;
    margin-top: 8vw;
    margin-left: 50.5vw;
    margin-right: 15vw;
}

.cont_photo{
    position: absolute;
    margin-left: 3.5vw;
    margin-top: 5vw;
    width: 55.3vw;
    height: 51.5vw;  
}


.form-container{
    margin-top: 25%;
    margin-left: 69.7%;
    position: absolute;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-input,
.form-textarea {
    width: 26.8vw;
    padding: 15px;
    border: 1px solid #000000;
    font-size: 16px;
    resize: none;
    font-family: "Inter"
}

.submit{
    height: 3vw;
    width: 26.8vw;
    background-color: #ababab;
    border: none;

}