.section1_tarifs{
    height: 100vw;
    position: relative;
}




.section_tarifs {
    min-height: 100vh;
    height: auto;
    padding-bottom: 2vw;
    position: relative;
    background-color: #ffffff;
}

.st_tarifs {
    position: absolute;
    margin-top: 5.3vw;
    margin-left: 3.5vw;
}

.zg_tarifs {
    position: absolute;
    margin-top: 5.2vw;
    margin-left: 3.5vw;
    width: 60vw;
    color: black;
}

.opener_wrap_tarifs {
    position: relative;
    margin-left: 3.5vw;
                              
    width: 45.83vw;
}

.opener_wrap_tarifs .opener1 {
    padding-top: 16vw;

}

.opener_wrap_tarifs .opener_item {
    background-color: #ffffff;
    border: 0.05vw solid #000;
    transition: background-color 0.2s;
}

.opener_wrap_tarifs .opener_item.open {
    background-color: #ffffff;
}

.opener_wrap_tarifs .opener_item.open .opener_plus {
    background-color: #000000;
    color: #ffffff;
}

.opener_wrap_tarifs .opener_item.open .opener_plus::after {
    transform: rotate(90deg);
}

.tarif_price {
    font-family: "Unb-SB";
    font-size: 1.1vw;
    color: #000;
    margin-left: auto;
    margin-right: 1.5vw;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.opener_wrap_tarifs .opener_btn {
    grid-template-columns: auto 1fr auto auto;
}

.tarif_list {
    margin-top: 1.2vw;
    padding-left: 0;
    font-family: "Onest";
    font-size: 1.04vw;
    line-height: 2vw;
    color: #000000;
    list-style: none;
    z-index: 50;
}

.tarif_list li::before {
    content: "— ";
}

.opener_wrap_tarifs .opener_photo {
    display: none;
    width: 36.4vw;
    height: 38.3vw;
    object-fit: cover;
    position: absolute;
    margin-left: 56.69vw;
    margin-top: 16vw;
}




.opener_wrap_tarifs .opener_photo.active {
    display: block;
}

.arrow3 {
    margin-left: 2.8vw;
    position: absolute;
    margin-top: 0.35vw;
    z-index: 0;
    scale: 50%;
    transition: opacity 0.04s ;
    /* filter: invert(1); */

}

.opener_tags2:hover .arrow3 {
    filter: invert(1);
}